<h3>Edit Shop</h3>

<%= form_for @shop do |f| %>
  <%= f.text_field :name, placeholder: "Shop Name" %>
  <%= f.text_field :address, placeholder: "Address" %>
  <%= f.text_field :city, placeholder: "City" %>
  <%= f.text_field :state, placeholder: "State" %>
  <%= f.text_field :zip, placeholder: "Zipcode" %>
  <%= f.submit %>
<% end %>
