<h3><%= @shop.name %></h3>
<small><%= "#{ @shop.user.fname } #{ @shop.user.lname }" %></small>
<br>
<span><%= @shop.address %></span>
<span><%= @shop.city %>, <%= @shop.state %> <%= @shop.zip %></span>
