<h3>Edit Info</h3>

<%= form_for @user do |f| %>
  <%= f.text_field :fname, placeholder: "First Name" %>
  <%= f.text_field :lname, placeholder: "Last Name" %>
  <%= f.email_field :email, placeholder: "Email" %>
  <%= f.submit "EDIT" %>
<% end %>
