<h3>Signup</h3>

<%= form_for @user do |f| %>
  <%= f.text_field :fname, placeholder: "First Name" %>
  <%= f.text_field :lname, placeholder: "Last Name" %>
  <br>
  <%= f.email_field :email, placeholder: "Email" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.submit "Signup" %>
<% end %>
