<h3>Create Products</h3>
<%= form_for [@shop, @product] do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.text_area :desc, placeholder: "Description" %>
  <%= f.number_field :price, placeholder: "Price" %>
  <%= f.submit %>
<% end %>
